.edit {
    flex: 4;
    padding: 20px;
    /* max-width: 194%; */
  }
  
  .editTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 194%; */
  }
  
  .editAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  
  .editContainer {
    display: flex;
    margin-top : 20px;
  }
  
  /* .editShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  } */
  
  .editUpdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    max-width:100%;
  }
  
  /* .editShowTop {
    display: flex;
    align-items: center;
  }
  
  .editShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .editShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .editShowUsername {
    font-weight: 600;
  }
  
  .editShowUserTitle {
    font-weight: 300;
  }
  
  .editShowBottom{
      margin-top: 20px;
  }
  
  .editShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
  }
  
  .editShowInfo{
      display: flex;
      align-items: center;
      margin: 20px 0px;
      color: #444;
  }
  
  .editShowIcon{
      font-size: 16px !important;
  }
  
  .editShowInfoTitle{
      margin-left: 10px;
  } */

  
  
  .editUpdateTitle{
      font-size: 24px;
      font-weight: 600;
  }
  
  .editUpdateForm{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .editUpdateItem{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 8px;
  }
  
  .editUpdateItem>label{
      margin-bottom: 0px;
      font-size: 14px;
  }
  
  .editUpdateInput{
      border: none;
      width: 250px;
      height: 30px;
      margin-left: 50px;
      border-bottom: 1px solid gray;
  }
  
  .editUpdateRight{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .editUpdateLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .editUpdateUpload{
      display: flex;
      align-items: center;
  }
  
  .editUpdateImg{
      width: 100px;
      height: 100px;
      border-radius: 10px;
      object-fit: cover;
      margin-right: 20px;
      margin-left: 538px;
  }
  
  .editUpdateIcon{
      cursor: pointer;
  }
  
  .editUpdateButton{
      width: 15%;
      border-radius: 5px;
      border: none;
      padding: 5px;
      cursor: pointer;
      background-color: darkblue;
      color: white;
      font-weight: 600;
      margin-left: 85% ;
  }