.profile {
    flex: 5;
    padding: 20px;
  
  }
  
  .profileTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 194%; */
  }
  
  .profileAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  
  .profileContainer {
    display: flex;
    margin-top: 20px;
  }
  
  .profileShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .profileUpdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    max-width:100%;
  }
  
  .profileShowTop {
    display: flex;
    align-items: center;
  }
  
  .profileShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profileShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .profileShowUsername {
    font-weight: 600;
  }
  
  .profileShowUserTitle {
    font-weight: 300;
  }
  
  .profileShowBottom{
      margin-top: 20px;
  }
  
  .profileShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
  }
  
  .profileShowInfo{
      display: flex;
      align-items: center;
      margin: 20px 0px;
      color: #444;
  }
  
  .profileShowIcon{
      font-size: 16px !important;
  }
  
  .profileShowInfoTitle{
      margin-left: 10px;
  }
  
  .profileUpdateTitle{
      font-size: 24px;
      font-weight: 600;
  }
  
  .profileUpdateForm{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      width: 100%;
  }
  
  .profileUpdateItem{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 8px;
  }
  
  .profileUpdateItem>label{
      margin-bottom: 0px;
      font-size: 14px;
      margin-bottom: 2rem;
  }
  
  .profileUpdateInput{
      border: none;
      width: 250px;
      height: 30px;
      margin-left: 50px;
      border-bottom: 1px solid gray;
  }
  
  .profileUpdateRight{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .profileUpdateLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .profileUpdateUpload{
      display: flex;
      align-items: center;
  }
  
  .profileUpdateImg{
      width: 100px;
      height: 100px;
      border-radius: 10px;
      object-fit: cover;
      margin-right: 20px;
      margin-left: 538px;
  }
  
  .profileUpdateIcon{
      cursor: pointer;
  }
  
  .profileUpdateButton{
      width: 15%;
      border-radius: 5px;
      border: none;
      padding: 5px;
      cursor: pointer;
      background-color: darkblue;
      color: white;
      font-weight: 600;
      margin-left: 85% ;
  }